.sect{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "t b"
    ;
}
.div1{
    grid-area: t;
}

.div2{
    grid-area: b;
}


@media (max-width: 960px){
    .sect{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "t "
        "b "
        ;
    } 

    .div1{
        grid-area: t;
    }
    
    .div2{
        grid-area: b;
    }


}

